/* styles.css */
.age {
  width: 100%;
  padding: 10px;
}
/* Message styles */
.success-message {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* Additional styles for the new elements */
.mb-4 {
  margin-bottom: 1.5rem; /* Adjust as needed */
}

.block {
  display: block; /* Adjust as needed */
}

/* Custom button styles */
/* styles.css */

/* Center the form on the page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set a minimum height to cover the entire viewport */
  background: linear-gradient(
    to right,
    rgb(251, 113, 133),
    rgb(217, 70, 239),
    rgb(99, 102, 241)
  );
}

/* Additional styles for the form and buttons */
.custom-button {
  background-color: #3490dc;
  color: #ffffff;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #2779bd;
}

/* src/components/Navbar.module.css */
.navbar {
  background-color: white;
  overflow: hidden;
}

.navLink {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navLink:hover {
  background-color: #ddd;
  color: black;
}

/* src/components/Sidebar.css */
.sidebar {
  width: 200px;
  height: 900%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding-top: 20px;
  color: black;
}

.sidebarLink {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.sidebarLink:hover {
  background-color: #555;
}
.heading {
  font-size: 40px;
}
.App {
  background: linear-gradient(
    to right,
    rgb(251, 113, 133),
    rgb(217, 70, 239),
    rgb(99, 102, 241)
  ) !important ;
}
